html {
  box-sizing: border-box;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

/* Border around every element for learning/research */
/* * {
  border: 2px solid red;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
      45deg,
      rgb(158, 233, 193) 0%,
      hsla(340, 100%, 55%, 0) 70%
    ),
    linear-gradient(135deg, rgb(96, 164, 198) 10%, hsla(225, 95%, 50%, 0) 80%),
    linear-gradient(225deg, rgb(174, 164, 22) 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, rgb(172, 171, 170) 100%, hsla(35, 95%, 55%, 0) 70%);
}

h2 {
  margin-top: 0;
  padding-top: 0.8em;
}

nav {
  position: relative;
  perspective: 600px;
}

.cool > li > a {
  color: rgb(198, 237, 187);
  text-decoration: none;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.cool > li {
  position: relative; /* important */
  display: flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

/* step it down from display: none and opacity:  0 to display: block first, and then to opacity: 1 after our time delap */
/* This is how animations work in REACT  */
.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.bio img {
  float: left;
  margin-right: 20px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.drivers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.midranges {
  display: flex;
  justify-content: center;
  align-items: center;
}

#firebird {
  height: 200px;
  width: 300px;
}

#destroyer {
  height: 200px;
  width: 250px;
}
.bio h4 {
  align-items: center;
  justify-content: center;
}

.courses {
  min-width: 300px;
}

.courses li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
  text-decoration: none;
  color: #ffc600;
}

a.button {
  background: black;
  display: block;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.aMove {
  margin-bottom: 300px;
  transition: all 0.75s ease-in-out;
}

.aWide {
  width: 100vh;
}

/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
.button[href*='twitter'] {
  background: #019fe9;
}
.button[href*='facebook'] {
  background: #3b5998;
}
.button[href*='courses'] {
  background: #ffc600;
}

.headshotWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  height: 335px;
  width: 225px;
  border-radius: 10px;
  border: 5px solid rgba(255, 248, 220, 0.739);
}

.dg {
  color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: cornsilk;
  padding-left: 20px;
}

h2 {
  color: cornsilk;
}

h3 {
  color: cornsilk;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTwoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;

  box-sizing: border-box;

  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background: rgba(114, 186, 94, 0.05);
  border: 2px dashed rgba(114, 186, 94, 0.35);
}

.item {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  /* background: rgba(255, 213, 70, 0.4); */
  /* border: 2px dashed rgba(236, 198, 48, 0.5); */
}

.dgp {
  font-size: 17px;
  padding: 20px;
}

.line {
  width: 1000px;
  height: 47px;
  border-bottom: 1px solid black;
  position: relative;
}

#transition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

button {
  border-radius: 8px;
  border: none;
  background-color: cornsilk;
  color: grey;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

.laugh {
  font-size: 8px;
  color: cornsilk;
  padding: 25px;
}

.dgGif {
  border-radius: 10px;
}

.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#buzzz {
  height: 200px;
  width: 250px;
}

.giphy-embed {
  border-radius: 10px;
}

.laugh {
  display: flex;
  justify-content: center;
  align-items: center;
}

#laughLink {
  font-size: 7px;
}

.gif {
  color: cornsilk;
}

#rick {
  color: cornsilk;
  background-color: rgba(171, 171, 171, 0.267);
  font-size: 30px;
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
  font-family: courier;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: cornsilk;
}

ul {
  list-style-type: none;
}

@media (max-width: 1000px) {
  .cool {
    display: flex;
    flex-direction: column;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    margin: none;
    padding: none;
    width: 100%;
    text-align: center;
  }
}
